body {
  font-size: 14px;
}

.row {
  margin: 3px;
  padding-top: 8px;
}

#calendar2 {
  z-index: 900;
}

#calendar1 {
  z-index: 950;
}

.navbar {
  height: 50px;
  border-radius: 0;
}

.edit {
  visibility: hidden;
}

.fc-body td {
  cursor: pointer;
}


.left {
  float: left;
}

.fc-event .fc-bg {
  background-color: #337ab7;
}

.navbar-btn {
  margin-right: 15px;
}

.fc-today .fc-day-number {
  background: #d9534f;
  color: white;
  font-weight: bold;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 2px;
}


.fc-agendaDay-view .fc-title { /* extra precedence to overcome jqui */
	font-size: 1.5em !important;
}
