body {
  font-size: 14px;
}

#calendar2 {
  z-index: 900;
}

#calendar1 {
  z-index: 950;
}

.col-md-6 {
  padding-top: 20px;
}

.fc-body td {
  cursor: pointer;
}

.fc-sat, .fc-sun {
  background-color: #f9f9f9;
}

.left {
  float: left;
}

.fc-event .fc-bg {
  background-color: #337ab7;
}

.fc-unthemed .fc-today {
  background-color: rgb(252, 248, 228) !important;
}
